@page
@model E_commerce_website.Pages._404Model
@{
}

@section Styles {
    <link href="@Url.Content("~/css/404.css")" rel="stylesheet" type="text/css" />
}

<img src="/404.png" class="four-0-four-image" alt="">
<p class="four-0-four-msg">looks like you are lost. Head to beack to our <a href="#">homepage</a></p>

