@page
@model E_commerce_website.Pages.addproductModel

@{
    ViewData["Title"] = "Add Product";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Smease12 Gifts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/addproduct.css">
</head>

<body>
    <div id="notification-banner">
        <p id="notification-message">"@Model.InsertedProductName" Added Successfully. <a style="color:white;" asp-page="/index">Back to Homepage</a></p>
    </div>

    <img src="logo.png" class="logo" alt="">

    @*<div class="form">*@
    <form method="post" enctype="multipart/form-data" style="margin: 0 auto;">
        @*/* width: 300px;">*/*@
        <input type="text" asp-for=Product.name id="product-name" placeholder="product name">
        <input type="text" asp-for=Product.descriptionShort id="short-des" placeholder="short line about the product">
        <textarea id="des" asp-for=Product.descriptionLong placeholder="detail description"></textarea>

        <!-- product image -->
        <div class="product-info">
            <div class="product-image"><p class="text">product image</p></div>
            <div class="upload-image-sec">
                <!-- upload inputs -->
                <p class="text"><img src="camera.png" alt="">upload image</p>
                <div class="upload-catalouge">
                    <input type="file" class="fileupload" asp-for=Img1 id="first-file-upload-btn" hidden>
                    <label for="first-file-upload-btn" class="upload-image"></label>
                    <input type="file" class="fileupload" asp-for=Img2 id="second-file-upload-btn" hidden>
                    <label for="second-file-upload-btn" class="upload-image"></label>
                    <input type="file" class="fileupload" asp-for=Img3 id="third-file-upload-btn" hidden>
                    <label for="third-file-upload-btn" class="upload-image"></label>
                    <input type="file" class="fileupload" asp-for=Img4 id="fourth-file-upload-btn" hidden>
                    <label for="fourth-file-upload-btn" class="upload-image"></label>
                </div>
            </div>
            @*            <div class="select-sizes">
            <p class="text">size available</p>
            <div class="sizes">
            <input type="checkbox" class="size-checkbox" id="xs" value="xs">
            <input type="checkbox" class="size-checkbox" id="s" value="s">
            <input type="checkbox" class="size-checkbox" id="m" value="m">
            <input type="checkbox" class="size-checkbox" id="l" value="l">
            <input type="checkbox" class="size-checkbox" id="xl" value="xl">
            <input type="checkbox" class="size-checkbox" id="xxl" value="xxl">
            <input type="checkbox" class="size-checkbox" id="xxxl" value="xxxl">
            </div>
            </div>*@
        </div>

        <div class="product-price">
            <input type="number" id="actualprice" asp-for=Product.fullPrice placeholder="actual price">
            <input type="number" id="discount" asp-for=Product.discount placeholder="discount percentage">
            <input type="number" id="sellprice" asp-for=Product.sellPrice placeholder="selling price">
        </div>

        <input type="number" id="stock" asp-for=Product.stock min="20" placeholder="item in stocks (minimum 20)">

        <textarea id="tags" asp-for=Product.tags placeholder="Enter categories here, for example - Men, Jeans, Blue Jeans, Rough jeans (you sholud add men or women at start)"></textarea>

        @*<input type="checkbox" class="checkbox" id="tac" checked>
        <label for="tac">clothing take 30% from your total sell</label>*@

        <div class="buttons">
            <button class="btn" id="add-btn">add product</button>
            <a asp-page="/Index" class="btn">Back to Homepage</a>
            @*            <button class="btn" id="save-btn">save draft</button>
            *@
        </div>
        @*</div>*@
    </form>

    @if (Model.IsAddProductSuccessful)
    {
        <script>
            var isOperationSuccessful = true;
        </script>
    }
    else
    {
        <script>
            var isOperationSuccessful = false;
        </script>
    }

</body>

<script src="js/addproduct.js"></script>

</html>