@page "{UserId=1}"
@model E_commerce_website.Pages.CartModel


@section Styles {
    <link href="@Url.Content("~/css/product.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/css/form.css")" rel="stylesheet" type="text/css"/>*@
}

<section class="product-details">
    <div class="details" style="width: 100%">
        <h2 class="product-brand">Shopping Cart</h2>
        <a href="#">Deselect all items</a>

        <p class="product-sub-heading">Products</p>
        @*style="border-left:solid; border-top:solid;
        border-bottom:solid;"
        https://getbootstrap.com/docs/5.3/layout/grid/*@
        <div class="row">
            <div class="col-9" >
                <div class="row border border-dark">
                    <div class="col-1">
                        <input type="checkbox" class="checkbox" id="selected">
                    </div>
                    <div class="col-2" > 
                        <img src="#"/>   
                    </div>
                    <div class="col-4" > product name and details </div>
                    <div class="col-3" >price</div>
                </div>
            </div>
            <div class="col-3">
                <p>Subtotal (1 item): $50.00</p>
                <p><button class="buttons">Proceed to Checkout</button></p>
            </div>
        </div>
    </div>
</section>

<section class="detail-des">
    <h2 class="heading">Subtotal (1 item): $50.00</h2>
    @*<p class="des">Subtotal (1 item): $50.00</p>*@
</section>

@section Scripts
    {
    <script src="~/js/product.js"></script>
}


