@page 
@model E_commerce_website.Pages.CartModel


@section Styles {
    <link href="@Url.Content("~/css/product.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/css/form.css")" rel="stylesheet" type="text/css"/>*@
}
        @{
            int count = 0; decimal? totalPrice = 0;
<section class="product-details">
    <div class="details" style="width: 100%">
        <h2 class="product-brand">Shopping Cart</h2>
        <a href="#">Deselect all items</a>

        <p class="product-sub-heading">Products</p>

        <div class="row text-center align-items-center ">
            <div class="col-9" >
               
                @foreach(var product in Model.Products){
                    count = count + 1;
                    totalPrice = totalPrice + product.sellPrice;
                 <div class="row border border-dark align-items-center">
                    <div class="col-1 m-3">
                        <input type="checkbox" class="checkbox" id="selected">
                    </div>
                    <div class="col-2 m-3" > 
                        <img style="height:100px; width:100px" src="~/uploads/@product.imgLocation1"/>   
                    </div>
                    <div class="col-4 m-3" > @product.name </div>
                    <div class="col-3 m-3" >@product.sellPrice</div>
                </div>
                }
                
            </div>
            <div class="col-3">
                <p>Subtotal (@count items): $@totalPrice</p>
                <p><button class="buttons">Proceed to Checkout</button></p>
            </div>
            
        </div>
        
    </div>
</section>

<section class="detail-des">
    <h2 class="heading">Subtotal (@count items): $@totalPrice</h2>
    @*<p class="des">Subtotal (1 item): $50.00</p>*@
</section>
}
@section Scripts
    {
    <script src="~/js/product.js"></script>
}


