@page
@model E_commerce_website.Pages.CheckoutModel
@{
}

@section Styles {
    <link href="@Url.Content("~/css/product.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/css/form.css")" rel="stylesheet" type="text/css"/>*@
}
        @{


<section class="product-details">
    <div class="details" style="width: 100%">
        <h2 class="product-brand">Checkout</h2>


        <p class="product-sub-heading">Products</p>

        <form method="post" class="row text-center align-items-center ">

            <div class="col-9">

            </div>
            <div class="col-3">
            </div>

        </form>

    </div>
</section>
}
@section Scripts
    {
    <script src="~/js/product.js"></script>
}
