@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="hero-section">
    <div class="content">
        <img src="logo.png" class="logo" alt="">
        <p class="sub-heading">best gifts of all time</p>
    </div>
</header>


<div>
    Best Selling
</div>