@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="hero-section">
    <div class="content">
        @*<img src="img/light-logo.png" class="logo" alt="">*@
        <p class="sub-heading">best gifts of all time</p>
    </div>
</header>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
