@page
@model E_commerce_website.Pages.ProductModel
@{
}

@section Styles {
    <link href="@Url.Content("~/css/product.css")" rel="stylesheet" type="text/css" />
}

<section class="product-details">
    <div class="image-slider">
        <div class="product-images">
            <img src="img/product image 1.png" class="active" alt="">
            <img src="img/product image 2.png" alt="">
            <img src="img/product image 3.png" alt="">
            <img src="img/product image 4.png" alt="">
        </div>
    </div>
</section>
