@page
@model E_commerce_website.Pages.signupModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Smease12 Gifts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
</head>

<body>
    <div class="container">
        <img src="logo.png" class="logo" alt="">
        <form method ="post" style="margin: 0 auto; width: 300px;">
            @*added style 4/29/23*@
            <span asp-validation-for="Input.Username" class="text-danger"></span>
            <input type="text" asp-for="Input.Username" autocomplete="off" id="Name" name="Input.UserName" placeholder="name">

            <span asp-validation-for="Email" class="text-danger"></span>
            <input type="email" autocomplete="off" asp-for="Email" id="Email" name="Email" placeholder="email">
            @*data-val-remote-additionalfields="__RequestVerificationToken"*@

            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <input type="password" asp-for="Input.Password" autocomplete="off" id="Password" name="Input.Password" placeholder="password">

            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            <input type="password" asp-for="Input.ConfirmPassword" autocomplete="off" id="ConfirmPassword" name="Input.ConfirmPassword" placeholder="confirm password">

            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            <input type="text" asp-for="Input.PhoneNumber" autocomplete="off" id="PhoneNumber" name="Input.PhoneNumber" placeholder="number">          
            
            <input type="checkbox" asp-for="Input.TermsAndCond" checked class="checkbox" name="Input.TermsAndCond" id="Input.TermsAndCond" value="true">
            <input type="hidden" asp-for="Input.TermsAndCond" name="Input.TermsAndCond" value="false" />
            <label for="Input.TermsAndCond">agree to our <a href="">terms and conditions</a></label>
            <span asp-validation-for="Input.TermsAndCond" class="text-danger"></span>
            
            <br>
            <input type="checkbox" asp-for="Input.Notification" class="checkbox" id="Input.Notification" name="Input.Notification">
            <label for="Input.Notification"><a href="">recieve upcoming offers and events mails</a></label>
            <button class="submit-btn">create account</button>
        </form>
        <a href="/login" class="link">already have an account? Log in here</a>
    </div>

    <div class="alert-box">
        <img src="error.png" class="alert-img" alt="">
        <p class="alert-msg">Error message</p>
    </div>
</body>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>

</html>

