.search-results {
    width: 100%;
    padding: 60px 0;
}

.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 0 10vw;
}

    .heading span {
        font-weight: 700;
    }

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    grid-row-gap: 40px;
}

/*Remove blue color and underline from anchor elements*/
a{
    color: inherit; /*This sets the color to the same color as its parent*/
    text-decoration: none;
}

/*Add a:hover styles to change link appearance on hover*/
a:hover{
    /*Define the styles you want when hovering over the link*/
    text-decoration: underline; 
    color: inherit;
}

